@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-tel-input .special-label {
  display: none !important;
}

.react-tel-input .flag-dropdown {
  display: none;
}

.react-tel-input .form-control {
  width: 250px !important;
  padding: 18.5px 14px 18.5px 28px !important;
}

react-tel-input .invalid-number-message {
  position: absolute;
  z-index: 1;
  font-size: 13px;
  left: 0px;
  top: 65px;
  background: #fff;
  padding: 0 5px;
  color: #de0000;
}